<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DATA 607</title>
  </head>
  <body>
    <h1><a href="/">DATA 607</a></h1>
    <ul>
      <li>Telecom</li>
    </ul>
    <form method="POST">
      <div>
        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
          <option value="male"{% if gender == 'male' %}selected{% endif %}>Male</option>
          <option value="female" {% if gender == "female" %}selected{% endif %}>Female</option>
        </select>
      </div>
      <div>
        <label for="senior">Senior:</label>
        <select name="senior" id="senior">
          <option value="yes" {% if senior == "yes" %}selected{% endif %}>Yes</option>
          <option value="no" {% if senior == "no" %}selected{% endif %}>No</option>
        </select>
      </div>
      <div>
        <label for="partner">Partner:</label>
        <select name="partner" id="partner">
          <option value="yes" {% if partner == "yes" %}selected{% endif %}>Yes</option>
          <option value="no" {% if partner == "no" %}selected{% endif %}>No</option>
        </select>
      </div>
      <div>
        <label for="dependents">Dependents:</label>
        <select name="dependents" id="dependents">
          <option value="yes" {% if dependents == "yes" %}selected{% endif %}>Yes</option>
          <option value="no" {% if dependents == "no" %}selected{% endif %}>No</option>
        </select>
      </div>
      <div>
        <label for="paperless">Paperless billing:</label>
        <select name="paperless" id="paperless">
          <option value="yes" {% if paperless == "yes" %}selected{% endif %}>Yes</option>
          <option value="no" {% if paperless == "no" %}selected{% endif %}>No</option>
        </select>
      </div>
      <div>
        <label for="payment">Payment method:</label>
        <select name="payment" id="payment">
          <option value="electronic_check" {% if payment == "electronic_check" %}selected{% endif %}>Electronic check</option>
          <option value="mailed_check" {% if payment == "mailed_check" %}selected{% endif %}>Mailed check</option>
          <option value="credit_card" {% if payment == "credit_card" %}selected{% endif %}>Credit card</option>
          <option value="bank_transfer" {% if payment == "bank_transfer" %}selected{% endif %}>Bank transfer</option>
        </select>
      </div>
      <div>
        <label for="contract">Contract:</label>
        <select name="contract" id="contract">
          <option value="month_to_month" {% if contract == "month_to_month" %}selected{% endif %}>Month-to-month</option>
          <option value="one_year" {% if contract == "one_year" %}selected{% endif %}>One year</option>
          <option value="two_year" {% if contract == "two_year" %}selected{% endif %}>Two year</option>
        </select>
      </div>
      <div>
        <label for="tenure">Tenure:</label>
        <input type="number" name="tenure" value="{{tenure or 0}}" />
      </div>
      <div>
        <label for="monthly">Monthly charges:</label>
        <input type="number" step="0.01" name="monthly" value="{{monthly or 0}}" />
      </div>
      <div>
        <label for="total">Total charges:</label>
        <input type="number" step="0.01" name="total" value="{{total or 0}}" />
      </div>
        <div>
        <input type="submit" />
        <input type="reset" />
      </div>
      {% if y == "1" %}
        <b>Churn!!</b>
      {% elif y == "0" %}
        <b>No churn!</b>
      {% endif %}
    </form>
  </body>
</html>
